body {
    font-family: 'Nunito', sans-serif;
}

#Regle {
    border: #721c24 solid;
    border-radius: 30px;
    background-color: #721c24;
    color: white;
}

h4 {
    color: red;
}

h5 {
    text-decoration: underline;
}

input {
    background-color: #002752;
    color: white;
}

button {
    background-color: white;
    color: #002752;
}

section {
    border: #002752 solid;
    border-radius: 30px;
    background-color: #002752;
}

#Aleatoire {
    color: white;
}

#Chance {
    color: white;
}

label {
    color: white;
}

#Valeur {
    color: white;
}

#Reponse {
    color: white;
}

#Indication {
    color: white;
    font-size: 20px;
}

#Resultat {
    color: white;
    font-size: 30px;
}

#ResetT {
    border: #721c24 solid;
    border-radius: 30px;
    background-color: #721c24;
    color: white;
}

#Pendu {

    margin-top: -20px;
    width: 100px;
    height: 0;

}

#Gagner {

    margin-top: -20px;
    width: 300px;
    height: 0;

}

#Lettre {
    color: white;
}
